      <layout name="layout" />
        <div class="place">
                                 所在位置：
                  <a href="__APP__/TAdmin/Product">产品</a>
                  ><a href="__APP__/TAdmin/System/index/prodid/<{$w.prodid}>">系统</a>
                  ><a href="__APP__/TAdmin/Path/index/sysid/<{$w.sysid}>/prodid/<{$w.prodid}>">路径</a>
                  >功能点
                  <span style="float:right;margin-right:60px;">
                      <a href="__APP__/TAdmin/Path/index/sysid/<{$w.sysid}>/prodid/<{$w.prodid}>"> 返回</a>
                  </span>
        </div>
        <div class="content">
           <div class="main">
              <div class="top" style="margin-left:30%;">功能点管理<br>
                   <span>路径： <{$w.pathid|getSPath=###}></span>
              </div>
              <div class="left" align="left" style="width:30%;">
                    <volist name='data' id='vo' empty="没有数据"><ur><li>
                        <a href="__URL__/index/pathid/<{$vo.id}>/sysid/<{$vo.sysid}>/prodid/<{$w.prodid}>/proid/<{$w.proid}>">
                        <{$vo.sn}>.【<{$vo.pstate}>】<{$vo.path}>:<{$vo.id|countFunc=###}></a>
                    </li></ur></volist>
              </div>
              <div class="midd" align="right">
                   <table border="1" width="70%" align="center">
                     <tr>
                       <th width=3% align="center" bgcolor="#ccc">ID</th>
                       <th width=3% align="center" bgcolor="#ccc">顺序</th>
                       <th width=20% align="left"  bgcolor="#ccc">功能点
                          <span style="float:right;margin-right:5px;">
                             <a href="__URL__/add/pathid/<{$w.pathid}>/sysid/<{$w.sysid}>/prodid/<{$w.prodid}>/proid/<{$w.proid}>"  >添加 </a>
                          </span>
                       </th>
                       <th width=3% align="center" bgcolor="#ccc">状态</th>
                       <th width=5% align="center" bgcolor="#ccc">项目</th>
                       <th width=3% align="center" bgcolor="#ccc">维护</th>
                       <th width=9% align="center" bgcolor="#ccc">更新时间</th>
                        <th width=5% align="center" bgcolor="#ccc">操作 </th>
                     </tr>
                     <form action="__URL__/order" method="post" >
                     <volist name='funcs' id='func' empty="没有数据">
                    <tr>
                       <td align="center" ><{$func.id}></td>
                       <td align="center" >
                         <input type="text" name="sn[<{$func.id}>]" value="<{$func.sn}>"  class="input40"/>
                       </td>
                       <td >
                         <a href="__APP__/TAdmin/Case/index/funcid/<{$func.id}>/pathid/<{$func.pathid}>/sysid/<{$w.sysid}>/prodid/<{$w.prodid}>/proid/<{$w.proid}>" >
                            <{$func.func}></a>
                         <span style="float:right;margin-right:5px;">
                           <a href="__APP__/TAdmin/Case/index/funcid/<{$func.id}>/pathid/<{$w.pathid}>/sysid/<{$w.sysid}>/prodid/<{$w.prodid}>/proid/<{$w.proid}>">用例  <{$func.id|countFCase=###}></a>
                           <a href="__APP__/TAdmin/Element/index/funcid/<{$func.id}>/pathid/<{$w.pathid}>/sysid/<{$w.sysid}>/prodid/<{$w.prodid}>/proid/<{$w.proid}>">数据模板</a>
                           <a href="__APP__/TAdmin/Rules/index/funcid/<{$func.id}>/pathid/<{$w.pathid}>/sysid/<{$w.sysid}>/prodid/<{$w.prodid}>/proid/<{$w.proid}>">规则 <{$func.id|countFRules=###}></a>
                           <a href="__URL__/mod/id/<{$func.id}>/pathid/<{$w.pathid}>/sysid/<{$w.sysid}>/prodid/<{$w.prodid}>/proid/<{$w.proid}>">修改</a>
                         </span>
                       </td>
                       <td align="center" ><{$func.state}></td>
                       <td align="center" ><{$func.fproid|getProNo=###}></td>
                       <td align="center" ><{$func.moder}></td>
                       <td align="center" ><{$func.updateTime}></td>
                       <td align="center" >
                          <a href="__URL__/del/id/<{$func.id}>" onclick="return confirm('你确定要删除功能点：<{$func.func}>？')">删除</a>
                       </td>
                    </tr>
                    </volist>
                    <tr><td></td><td  colspan="10"><input type="submit" name="do_submit" value="批量排序" class="btn"></td></tr>
                    </form>
                </table>

              </div><!-- midd -->
           </div><!-- main -->
