 <layout name="layout" />
        <div class="place">所在位置：
            <a href="__APP__/TAdmin/Program">项目</a>
            ><a href="__APP__/TAdmin/Prosys/index/proid/<{$w.proid}>/prodid/<{$w.prodid}>">系统</a>
            ><a href="__APP__/TAdmin/Path/indexp/sysid/<{$w.sysid}>/prodid/<{$w.prodid}>/proid/<{$w.proid}>">路径</a>
            ><a href="__APP__/TAdmin/Func/indexp/pathid/<{$w.pathid}>/sysid/<{$w.sysid}>/prodid/<{$w.prodid}>/proid/<{$w.proid}>">功能点</a>
            ><a href="__APP__/TAdmin/Case/indexp/funcid/<{$w.funcid}>/pathid/<{$w.pathid}>/sysid/<{$w.sysid}>/prodid/<{$w.prodid}>/proid/<{$w.proid}>">用例</a>
            >添加
            <span style="float:right;margin-right:60px;">
               <a href="__APP__/Case/indexp/funcid/<{$w.funcid}>/pathid/<{$w.pathid}>/sysid/<{$w.sysid}>/prodid/<{$w.prodid}>/proid/<{$w.proid}>"> 返回</a>
            </span>
        </div>
        <div class="content">
           <div class="main">
              <div class="top" >用例编辑
              <span>(功能点：<{$w.funcid|getSPFunc=###}>)</span>
              </div>
              <div class="left"  align="left" style="width:30%">
                    <volist name='data' id='vo' empty="没有数据"><ul><li>
                       <a href="__URL__/modp/id/<{$vo.id}>/funcid/<{$w.funcid}>/pathid/<{$w.pathid}>/sysid/<{$w.sysid}>/prodid/<{$w.prodid}>/proid/<{$w.proid}>">
                       <{$vo.sn}>.【<{$vo.state}>】<{$vo.main}></a>
                    </li></ul></volist>
              </div>
              <div class="midd" align="right" >
                  <table border="0" width="600" align="left">
                  <form action="__URL__/update" method="post" >
                  <input type="hidden" name="funcid" value="<{$case.funcid}>" />
                  <input type="hidden" name="id" value="<{$case.id}>" />
                     <tr><td>更新：</td><td><{$case.moder}>更新于:<{$case.updateTime}></td></tr>
                     <tr><td> 顺序：</td><td><input type="text" name="sn" value="<{$case.sn}>"  class="input60"/>
                                                                       项目：<{$fproid}>状态:<{$state}>级别：<input type="text" name="level" value="<{$case.level}>"  class="input60"/>来源：<{$case.source}>
                     </td></tr>
                     <tr><td>意图：</td><td><input type="text" name="main" value="<{$case.main}>"  class="input500"/></td></tr>
                     <tr><td>预期：</td><td><input type="text" name="expected" value="<{$case.expected}>"  class="input500"/></td></tr>
                     <tr><td colspan="2"><{$caozuo}></td></tr>
                     <tr><td></td>
                         <td><input type="submit" class="btn" name="do_submit" value="提 交"></form>
                            <a href="__APP__/TAdmin/Case/indexp/funcid/<{$w.funcid}>/pathid/<{$w.pathid}>/sysid/<{$w.sysid}>/prodid/<{$w.prodid}>/proid/<{$w.proid}>">
                            <button  class="btn" >返回</button></a>
                         </td>
                     </tr>
                  </table>
              </div><!-- midd -->
           </div><!-- main -->
