<layout name="layout" />
<ol class="breadcrumb">
    <span>所在位置：</span>
        <li><a href="__APP__/Admin/Index/index"><span class="glyphicon glyphicon-home"></span> 首页</a></li>
        <li><a href="__URL__/index/coursetype/<{$w.coursetype}>">人员-<{$w.coursetype}>></a></li>  
        <li class="active">修改</li>
    <span class="pull-right"><a href="__URL__/index/coursetype/<{$w.coursetype}>"><button type="button" class="btn btn-warning btn-xs pull-right">返回</button></a></span>
  </ol>
  <div class="row">
    <div class="col-sm-8">
        <p class="pull-right visible-xs"><button class="btn-xs btn-primary">tar</button></p>
        <div class="panel panel-default">
        <h3 >【<{$w.coursetype}>】-修改</h3>
        <span class="pull-right" style="margin-right:10%;"><{$arr.moder}>：更新于:<{$arr.updatetime}></span> 
            <div class="panel-body addmod">
                <form action="__URL__/update" method="post" enctype='multipart/form-data' class="form-horizontal" role="form" >
                  <input type="hidden" name="id" value="<{$arr.id}>" />
                    
                    
                   <div class="form-group ">
                      <label for="exampleInputusername"></label>
                      <input type="text" class="form-control" name="coursetype" value="<{$arr.coursetype}>" placeholder="类型" >  
                  </div>
                  
                  <div class="form-group ">
                      <label for="exampleInputusername"></label>
                      <input type="text" class="form-control" name="course" value="<{$arr.course}>" placeholder="课程" >  
                  </div>
                  <div class="form-group ">
                      <label for="exampleInputrealname"></label>
                      <textarea class="form-control" name="desc" rows="2"placeholder="课程简介"><{$arr.desc}></textarea>
                       
                  </div>
                  <div class="form-group ">
                      <label for="exampleInputusername"></label>
                      <input type="text" class="form-control" name="phone" value="<{$arr.phone}>" placeholder="老师手机" >  
                  </div>
                   <div class="form-group ">
                      <label for="exampleInputusername"></label>
                      <{$state}> 
                  </div>
                 
                 
                  
                  <button type="submit" class="btn btn-info btn-lg pull-left" style="margin-left:20%;">提 交</button>
                </form>
                  <div class="btn-group pull-left">

                      <a href="__URL__/add/coursetype/<{$w.coursetype}>"><button  class="btn btn-success btn-lg" style="margin-left:50px;">添 加</button></a>

                      <a href="__URL__/index/coursetype/<{$w.coursetype}>"><button  class="btn btn-warning btn-lg" style="margin-left:50px;">返 回</button></a>
                  </div>
            </div>
        </div>
    </div>                      
    <div class="col-sm-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"><{$w.coursetype}></h3>
            </div>            
            <ul class="list-group">
            <volist name='data' id='vo' empty="没有数据">
               <li class="list-group-item" >
                  <a href="__URL__/mod/id/<{$vo.id}>/coursetype/<{$w.coursetype}>"><{$vo.id}>:<{$vo.course}>【<{$vo.state}>】</a>
               </li>
            </volist>            
            </ul>                        
        </div>          
    </div>
</div>
     