 <layout name="layout" />
	<ol class="breadcrumb">
	<span>所在位置：</span>
	  <li><a href="__APP__/Admin/Index/index"><span class="glyphicon glyphicon-home"></span> 首页</a></li>	  
	  <li class="active">课程安排</li>
	</ol>      
	
  <div class="jumbotron">
	  <h1>课程安排</h1>
	  <p>    一次任务中的误打误撞，让女警白锦曦与神秘男子韩沉不打不相识。后来调查一桩强奸案时，两人再度相遇，韩沉的身份竟然是资历深厚的刑警。两人携手破案，韩沉对传统刑侦手段的应用让白锦曦对其刮目相看。在此过程中，两人解除了误会，渐渐互相产生了好感。因为五年前的一桩意外，令韩沉失去了部分记忆。他始终记得有一个对自己非常重要的未婚妻，为了寻找这个女人，他四处寻访，同时也拒绝再向别人打开情感的通道。当韩沉与白锦曦相遇、并对她产生好感后，这份执念让韩沉不断回避着与白锦曦的感情。后来白锦曦被调去省队，加入“黑盾组”与韩沉共事。在一桩离奇的CS案件调查中，两人为保护对方互相舍命，这举动终于打破了隔阂，韩沉答应会在查明失忆前的真相后给白锦曦一个交代。</p>
	  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
  </div>