<layout name="layout" />
        <div class="place">所在位置：用户</div>
        <div class="content">
           <div class="main">
              <div class="top">用户管理</div>
              <div class="midd">
                 <table border="1" width="100%" align="center">
                     <tr>
                       <th width=2% align="center" bgcolor="#ccc">ID</th>
                       <th width=3% align="center" bgcolor="#ccc">员工号</th>
                       <th width=3% align="center" bgcolor="#ccc">登录名</th>
                       <th width=15% align="left" bgcolor="#ccc">
                                                                       姓名
                         <span style="float:right;margin-right:5px;">
                             <a href="__URL__/add" > &nbsp;添加 &nbsp;</a>
                         </span>
                       </th>

                       <th width=5% align="center" bgcolor="#ccc">分组</th>
                       <th width=7% align="center" bgcolor="#ccc">手机</th>
                       <th width=5% align="center" bgcolor="#ccc">座机</th>
                       <th width=10% align="center" bgcolor="#ccc">邮箱</th>
                       <th width=10% align="center" bgcolor="#ccc">最后更新时间</th>
                      <!--  <th width=5% align="center" bgcolor="#ccc">操作</th> -->
                     </tr>
                   <volist name='data' id='vo' empty="没有数据">
                     <tr>
                       <td align="center"><{$vo.id}></td>
                       <td align="center"><{$vo.userNo}></td>
                       <td align="center"><{$vo.username}></td>
                       <td align="left">
                           <a href="__URL__/mod/id/<{$vo.id}>"><{$vo.realname}></a>
                          <span style="float:right;margin-right:5px;">
                            <a href="__URL__/setpw/id/<{$vo.id}>">重置密码</a>
                            <a href="__URL__/photo/id/<{$vo.id}>">上传照片</a>
                           <a href="__URL__/mod/id/<{$vo.id}>">修改</a>
                         </span>
                       </td>
                       <td align="center"><{$vo.usergp}></td>
                       <td align="center"><{$vo.phone}></td>
                       <td align="center"><{$vo.tel}></td>
                       <td align="center"><{$vo.email}></td>
                       <td align="center"><{$vo.updateTime}></td>
                      <!--  <td align="center">
                          <a href="__URL__/del/id/<{$vo.id}>"
                             onclick="return confirm('你确定要删除用户：<{$vo.realname}>吗？')">
                                                                   删除</a>
                       </td> -->
                    </tr>
                  </volist>
                 </table>
        </div><!-- midd -->
     </div><!-- main -->
