<layout name="layout" />
  <ol class="breadcrumb">
    <span>所在位置：</span>         
         <li class="active">管理员</li>    
  </ol>
  <h1 >管理员</h1>        
  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
		<a href="__URL__/add" class="pull-right"><button type="button" class="btn btn-link ">添加 </button></a><br><br>
			<volist name='data' id='st' empty="没有数据">
			<div class="panel panel-default">
			 	<div class="panel-heading" role="tab" id="heading<{$st.id}>">
					<h4 class="panel-title">
						<a  href="__URL__/mod/id/<{$st.id}>">
						<{$st.userno}>.<{$st.username}>:<{$st.realname}></a>
						<span class="pull-right">
							<div class="btn-group">
							  <button type="button" class="btn btn-info dropdown-toggle btn-xs" data-toggle="dropdown">
							    上传照片<span class="caret"></span>
							  </button>
							  <ul class="dropdown-menu" role="menu">
							    <li><a href="__URL__/photo/id/<{$st.id}>">上传照片</a></li>							    
							    <li class="divider"></li>
							    <li><a href="__URL__/set/id/<{$st.id}>" onclick="return confirm('你确定把用户：<{$st.realname}>的密码重置为123456吗？')">重置密码</a></li>
							    
							  </ul>
							</div>
						</span>
					</h4>
				</div>
	
			</div>		                      
			</volist>
	</div>	    