      <layout name="layout" />
        <div class="place">
                                 所在位置：
             <a href="__URL__">用户</a>
             >重置密码
            <span style="float:right;margin-right:60px;">
            <a href="__URL__"> 返回</a>
            </span>
        </div>
        <div class="content">
           <div class="main">
              <div class="top">重置密码</div>
              <div class="midd">
                 <form action="__URL__/set" method="post" >
                  <input type="hidden" name="id" value="<{$user.id}>" />
                  <{$user.userNo}>：<{$user.realname}>:<br />
                                                重置以后的的密码为：123456<br />
                  <input type="submit" class="btn" name="do_submit" value="提 交" ><br />
                 </form>
                  <a href="__URL__"><button  class="btn" >返回</button></a>
              </div><!-- midd -->
           </div><!-- main -->
