      <layout name="layout" />
        <div class="place">
                                 所在位置：
            <empty name="w.proid">
                  <a href="__URL__/index/prodid/<{$w.prodid}>">系统</a>
                   >添加
                   <span style="float:right;margin-right:60px;">
                        <a href="__URL__/index/prodid/<{$w.prodid}>"> 返回</a>
                  </span>
             <else />
                   <a href="__APP__/TAdmin/Program">项目</a>
                   ><a href="__APP__/TAdmin/Prosys/index/proid/<{$w.proid}>/prodid/<{$w.prodid}>">系统</a>
                   >添加
                  <span style="float:right;margin-right:60px;">
                  <a href="__APP__/TAdmin/Prosys/index/proid/<{$w.proid}>/prodid/<{$w.prodid}>"> 返回</a>
                  </span>
            </empty>

        </div>
        <div class="content">
           <div class="main">
              <div class="top">系统添加</div>
              <div class="left"  align="left" style="width:25%">
                    <volist name='data' id='vo' empty="没有数据">
                       <a href="__URL__/mod/id/<{$vo.id}>/prodid/<{$w.prodid}>/proid/<{$w.proid}>">
                                                          【<{$vo.state}>】<{$vo.sysno}>:<{$vo.system}></a><br>
                    </volist>
              </div>
              <div class="midd"  align="left" >
                  <table border="0" width="500" align="left">
                   <form action="__URL__/insert" method="post" >
                     <tr><td> 编号：</td><td><input type="text" name="sysno" value=""  class="input200"/>*如：APP.HMC、Web.CRM</td></tr>
                     <tr><td>系统</td><td><input type="text" name="system" value=""  class="input400"/></td></tr>
                     <tr><td>产品</td><td ><{$prod}></td> </tr>
                     <tr><td>状态</td><td><{$state}></td></tr>
                     <tr><td></td>
                         <td><input type="submit" class="btn" name="do_submit" value="提 交"></form>
                              <empty name="w.proid">
                                 <a href="__URL__/index/prodid/<{$w.prodid}>"><button  class="btn" >返回</button></a>
                              <else />
                                 <a href="__APP__/TAdmin/Prosys/index/proid/<{$w.proid}>/prodid/<{$w.prodid}>"><button  class="btn" >返回</button></a>
                              </empty>
                         </td>
                     </tr>
                  </table>
              </div><!-- midd -->
           </div><!-- main -->
