<layout name="layout" />
<div class="row">
 <h3>系统管理</h3> 
  <div class="col-md-10">

  		<table class="table table-striped table-bordered table-hover table-condensed ">
            <tr>
               <th width=10%  bgcolor="#ccc">编号</th>
               <th width=30%  bgcolor="#ccc">系统</th>
               <th width=10%   bgcolor="#ccc">状态</th>               
               <th width=10%   bgcolor="#ccc">操作 </th>
            </tr>
            <volist name='syses' id='sys' empty="没有数据">
            <tr>
                <td align="left" ><{$sys.sysno}></td>
                <td><a target="_blank" href="__APP__/TAdmin/Path/index/prodid/<{$sys.prodid}>/sysid/<{$sys.id}>" ><{$sys.system}></a>
                    <span style="float:right;margin-right:5px;">
                        <a target="_blank" href="__APP__/TAdmin/Path/index/prodid/<{$sys.prodid}>/sysid/<{$sys.id}>" >路径<{$sys.id|countPath=###}></a>
                        <a href="__URL__/test/id/<{$sys.id}>/prodid/<{$sys.prodid}>" >环境</a>                       
                    </span>
                 </td>
                 <td align="center" ><{$sys.state}></td>                
                 <td align="center" >
                      <a href="__URL__/del/id/<{$sys.id}>" onclick="return confirm('你确定要删除系统：<{$sys.system}>？')">
                      <span class="glyphicon glyphicon-remove">删除</span></a>
                 </td>
            </tr>
            </volist>
      </table>
  </div>
  <div class="col-md-2 hidden-xs">
  		<div class="panel panel-default">
		  <div class="panel-heading">
		    <h3 class="panel-title">产品列表</h3>
		  </div>
		  <ul class="list-group">
		    <volist name='data' id='vo' empty="没有数据"> 			
	           <switch name="vo.id">
					<case value="$w.prodid"> <li class="list-group-item list-group-item-warning"></case>					   					    
					<default /><li class="list-group-item ">
				</switch>   
	            <a href="__URL__/index/prodid/<{$vo.id}>">
	            	【<{$vo.state}>】<{$vo.short}></a><span class="badge"><{$vo.id|countSys=###}></span></li>
	        </volist>
	      </ul>	  
		</div>
  </div>
</div>