 <layout name="layout" />
        <div class="place">所在位置：
           <a href="__APP__/TAdmin/Product">产品</a>
           ><a href="__APP__/TAdmin/System/index/prodid/<{$w.prodid}>">系统</a>
           ><a href="__APP__/TAdmin/Path/index/sysid/<{$w.sysid}>/prodid/<{$w.prodid}>">路径</a>
           ><a href="__APP__/TAdmin/Func/index/pathid/<{$w.pathid}>/sysid/<{$w.sysid}>/prodid/<{$w.prodid}>">功能点</a>
           ><a href="__URL__/index/funcid/<{$w.funcid}>/pathid/<{$w.pathid}>/sysid/<{$w.sysid}>/prodid/<{$w.prodid}>">规则</a>
           >编辑
           <span style="float:right;margin-right:60px;">
              <a href="__URL__/index/funcid/<{$w.funcid}>/pathid/<{$w.pathid}>/sysid/<{$w.sysid}>/prodid/<{$w.prodid}>"> 返回</a>
           </span>
        </div>
        <div class="content">
           <div class="main">
              <div class="top" style="margin-left:35%;">规则编辑
              <span>(功能点：<{$w.funcid|getSPFunc=###}>)</span>
              </div>
              <div class="left"  align="left" style="width:35%"><volist name='data' id='vo' empty="没有数据"><ul><li>
                       <a href="__URL__/mod/id/<{$vo.id}>/funcid/<{$w.funcid}>/pathid/<{$w.pathid}>/sysid/<{$w.sysid}>/prodid/<{$w.prodid}>">
                       <{$vo.sn}>.<{$vo.rules}></a>
              </li></ul> </volist></div>
              <div class="midd" align="right" >
                  <table border="0" width="700" align="left">
                  <form action="__URL__/update" method="post" >
                  <input type="hidden" name="funcid" value="<{$rule.funcid}>" />
                  <input type="hidden" name="id" value="<{$rule.id}>" />
                  <tr><td>更新：</td><td><{$rule.moder}>更新于:<{$rule.updateTime}></td></tr>
                     <tr><td> 顺序：</td><td><input type="text" name="sn" value="<{$rule.sn}>"  class="input500"/></td></tr>
                     <tr><td>规则：</td><td><input type="text" name="rules" value="<{$rule.rules}>"  class="input500"/></td></tr>
                     <tr><td>来源：</td><td><input type="text" name="source" value="<{$rule.source}>"  class="input500"/></td></tr>
                     <tr><td>项目：</td><td><{$fproid}>状态:<{$state}></td></tr>
                     <tr><td>备注：</td><td><{$beizhu}></td></tr>
                     <tr><td></td>
                         <td><input type="submit" class="btn" name="do_submit" value="提 交"> </form>
                          <a href="__URL__/add/funcid/<{$w.funcid}>/pathid/<{$w.pathid}>/sysid/<{$w.sysid}>/prodid/<{$w.prodid}>"  >
                          <button  class="btn" >添加 </button></a>
                             <a href="__URL__/index/funcid/<{$w.funcid}>/pathid/<{$w.pathid}>/sysid/<{$w.sysid}>/prodid/<{$w.prodid}>">
                             <button  class="btn" >返回</button></a>
                         </td>
                     </tr>
                  </table>
              </div><!-- midd -->
           </div><!-- main -->

