  <layout name="layout" />
        <div class="place">
                                 所在位置：
                <a href="__APP__/TAdmin/Program">项目</a>
                ><a href="__APP__/TAdmin/Scene/index/proid/<{$w.proid}>">场景</a>
                ><a href="__APP__/TAdmin/Scenefunc/index/proid/<{$w.proid}>/sceneid/<{$w.sceneid}>">场景功能</a>
                ><a href="__URL__/indexs/funcid/<{$w.funcid}>/proid/<{$w.proid}>/sceneid/<{$w.sceneid}>">数据模板</a>
                >控件添加
               <span style="float:right;margin-right:60px;">
                 <a href="__URL__/indexs/funcid/<{$w.funcid}>/proid/<{$w.proid}>/sceneid/<{$w.sceneid}>"> 返回</a>
               </span>
        </div>
        <div class="content">
           <div class="main">
              <div class="top" style="margin-left:15%;">控件添加
              <span>(功能点：<{$w.funcid|getSPFunc=###}>)</span></div>
              <div class="left" align="left" style="widtht:15%;">
               <h1>功能控件</h1>
                    <volist name='data' id='vo' empty="没有数据">
                      <ur>
                         <li><a href="__URL__/mods/id/<{$vo.id}>/funcid/<{$w.funcid}>/proid/<{$w.proid}>/sceneid/<{$w.sceneid}>">
                         <{$vo.sn}>.<{$vo.control}>-<{$vo.data}></a>:<{$vo.state}>
                         <a href="__URL__/mods/id/<{$vo.id}>/funcid/<{$w.funcid}>/proid/<{$w.proid}>/sceneid/<{$w.sceneid}>">编辑</a>
                         </li>
                       </ur>
                    </volist>
              </div>
              <div class="midd" width="50%" align="right" >

                  <table border="0" width="300" align="left">
                  <form action="__URL__/insert" method="post" >
                  <input type="hidden" name="funcid" value="<{$w.funcid}>" />
                     <tr><td> 顺序：</td><td><input type="text" name="sn" value="<{$c}>"  class="input200"/></td></tr>
                     <tr><td>控件：</td><td><input type="text" name="control" value=""  class="input200"/></td></tr>
                     <tr><td> 数据：</td><td><input type="text" name="data" value="num<{$c}>"  class="input200"/></td></tr>
                     <tr><td>状态：</td><td><{$state}>类型：<{$typeset}></td></tr>
                     <tr><td></td>
                         <td>
                            <input type="submit" class="btn" name="do_submit" value="提 交">  </form>
                             <a href="__URL__/indexs/funcid/<{$w.funcid}>/proid/<{$w.proid}>/sceneid/<{$w.sceneid}>"><button  class="btn" >返回</button></a>
                         </td>
                     </tr>
                  </table>
              </div><!-- midd -->
           </div><!-- main -->