<layout name="layout" />
        <div class="place">所在位置：<a href="__APP__/TAdmin/Program">项目</a>
           ><a href="__APP__/TAdmin/Scene/index/proid/<{$w.proid}>">场景</a>
           ><a href="__APP__/TAdmin/Scenefunc/index/proid/<{$w.proid}>/sceneid/<{$w.sceneid}>">场景功能</a>>用例库
           <span style="float:right;margin-right:60px;">
                <a href="__APP__/TAdmin/Scenefunc/index/proid/<{$w.proid}>/sceneid/<{$w.sceneid}>"> 返回</a>
           </span>
        </div>
        <div class="content">
           <div class="main">
              <div class="top">
                  <span style="margin-left:30%;">功能用例库(<{$w.sfuncid|getSceneFunc=###}>)</span>
                  <span style="float:right;"> 当前项目：<{$w.proid|getProNo=###}></span>
              </div>
              <div class="left" align="left" style="width:30%">
                 <h1>场景：<{$w.sceneid|getScene=###}></h1>
                 <volist name='data' id='vo' empty="没有数据">
                    <ul>
                      <li>
                         <a href="__URL__/index/sfuncid/<{$vo.id}>/funcid/<{$vo.funcid}>/sceneid/<{$w.sceneid}>/proid/<{$w.proid}>">
                         <{$vo.sn}>.<{$vo.sysno}>-<{$vo.path}>-<{$vo.func}>-<{$vo.remarks}>【<{$vo.casestate}>】<{$vo.caseid}></a><hr>
                      </li>
                    </ul>
                 </volist>
              </div>
              <div class="midd" >
                 <table border="1" width="70%" align="center">
                     <tr>
                       <th width=2% align="center" bgcolor="#ccc">ID</th>
                       <th width=2% align="center" bgcolor="#ccc">顺序</th>
                       <th width=15% align="left" bgcolor="#ccc">意图
                       <span style="float:right;margin-right:5px;">
                             <a href="__URL__/add/sfuncid/<{$w.sfuncid}>/funcid/<{$w.funcid}>/proid/<{$w.proid}>/sceneid/<{$w.sceneid}>""  >添加 </a>
                          </span>
                       </th>
                       <th width=10% align="left" bgcolor="#ccc">预期</th>
                       <th width=3% align="center" bgcolor="#ccc">状态</th>
                       <th width=3% align="center" bgcolor="#ccc">项目</th>
                       <th width=3% align="center" bgcolor="#ccc">维护</th>
                       <th width=7% align="center" bgcolor="#ccc">更新时间</th>
                    </tr>
                  <form action="__URL__/order" method="post" >
                  <volist name='arr' id='st' empty="没有数据">
                    <tr>
                       <td align="center" ><a href="__URL__/bind/id/<{$st.id}>/sfuncid/<{$w.sfuncid}>"><{$st.id}></a></td>
                       <td align="center" ><input type="text" name="sn[<{$st.id}>]" value="<{$st.sn}>"  class="input40"/></td>
                       <td align="left" ><{$st.main}>
                       <span style="float:right;margin-right:5px;">
                           <a href="__URL__/bind/id/<{$st.id}>/sfuncid/<{$w.sfuncid}>">绑定</a>
                           <a href="__URL__/mod/id/<{$st.id}>/sfuncid/<{$w.sfuncid}>/funcid/<{$w.funcid}>/proid/<{$w.proid}>/sceneid/<{$w.sceneid}>">修改</a>
                         </span>
                       </td>
                       <td align="left" ><{$st.expected}></td>
                       <td align="center" ><{$st.state}></td>
                       <td align="center" ><{$st.fproid|getProNo=###}></td>
                       <td align="center" ><{$st.moder}></td>
                       <td align="center" ><{$st.updateTime}></td>
                    </tr>
                  </volist>
                    <tr><td></td><td  colspan="10"><input type="submit" name="do_submit" value="批量排序" class="btn"></td></tr>
                 </form>
                </table>

              </div><!-- midd -->
           </div><!-- main -->
