<layout name="layout" />
        <div class="place">
                                 所在位置：
             <a href="__APP__/TAdmin/Program">项目</a>
             ><a href="__APP__/TAdmin/Stage/index/proid/<{$w.proid}>">里程碑</a>
             ><a href="__URL__/index/proid/<{$w.proid}>/stageid/<{$w.stageid}>/type/<{$w.type}>">测试者</a>
             >编辑
            <span style="float:right;margin-right:60px;">
            <a href="__URL__/index/proid/<{$w.proid}>/stageid/<{$w.stageid}>/type/<{$w.type}>"> 返回</a>
            </span>
        </div>
        <div class="content">
           <div class="main">
              <div class="top">测试者编辑</div>
              <div class="left"  width="20%" align="left">
                    <volist name='data' id='vo' empty="没有数据">
                       <a href="__URL__/mod/id/<{$vo.id}>/proid/<{$w.proid}>/stageid/<{$w.stageid}>/type/<{$w.type}>">
                       <{$vo.sn}>.<{$vo.tester}>:<{$vo.type}></a><br>
                    </volist>
              </div>
              <div class="midd"  align="right" >
                  <table border="0" width="500" align="left">
                   <form action="__URL__/update" method="post" >
                   <input type="hidden" name="id" value="<{$tester.id}>" />
                   <tr><td>更新：</td><td><{$tester.moder}>更新于:<{$tester.updateTime}></td></tr>
                     <tr><td>顺序：</td><td><input type="text" name="sn" value="<{$tester.sn}>"  class="input200"/></td></tr>
                     <tr><td>类型：</td><td><{$tester.type}>测试者：<{$tester.tester}></td></tr>
                     <tr><td>时间：</td><td><{$startDate}>-<{$endDate}></td></tr>
                     <tr><td>计划：</td><td><input type="text" name="plan" value="<{$tester.plan}>"  class="input200"/></td></tr>
                     <tr><td></td>
                         <td><input type="submit" class="btn" name="do_submit" value="提 交"> </form>
                             <a href="__URL__/index/proid/<{$w.proid}>/stageid/<{$w.stageid}>/type/<{$w.type}>"><button  class="btn" >返回</button></a>
                         </td>
                     </tr>
                  </table>
              </div><!-- midd -->
           </div><!-- main -->