<layout name="layout" />
<ol class="breadcrumb">
   <span>所在位置：</span>
       <li><a href="__URL__"> 项目</a></li>        
       <li class="active">添加</li> 
       <span class="pull-right">
       		<a href="__URL__">
       			<button type="button" class="btn btn-warning btn-xs pull-right">返回</button>
       		</a>
       </span>
</ol>   
  
<div class="container-fluid">
<h3>项目-添加</h3>
	<div class="row">
  		<div class="col-md-9">
  			<div class="panel-body addmod">
  		     	<form action="__URL__/insert" method="post" class="form-horizontal" role="form" >
					  <div class="form-group">
					    <label for="prono" class="col-sm-2 control-label">编号:</label>
					    <div class="col-sm-4">
					      <input type="text" class="form-control" name="prono" value="<{$p.prono}>" placeholder="编号">
					    </div>
					    <label for="prono" class="col-sm-2 control-label">类型:</label>
					    <div class="col-sm-2">
					     <{$selectptype}>
					    </div>
					  </div>
					  <div class="form-group">
					    <label for="program" class="col-sm-2 control-label">项目:</label>
					    <div class="col-sm-4">
					      <input type="text" class="form-control" name="program" value="" >
					    </div>
					    <label for="program" class="col-sm-2 control-label">状态:</label>
					    <div class="col-sm-2">
					      <{$select}>
					    </div>
					  </div>
					  <div class="form-group">
					    <label for="state" class="col-sm-2 control-label">产品:</label>
					    <div class="col-sm-4">
					      <{$prod}>
					    </div>
					    <label for="state" class="col-sm-2 control-label">分组:</label>
					    <div class="col-sm-2">
					     	<{$selectgp}>
					    </div>
					  </div>
					  <div class="form-group">
					    <label for="start" class="col-sm-2 control-label">开始:</label>
					    <div class="col-sm-4">
					      <input type="date" class="form-control" name="start" value="<{$p.start}>" >
					    </div>
					    <label for="end" class="col-sm-2 control-label">结束:</label>
					    <div class="col-sm-2">
					      <input type="date" class="form-control" name="end" value="<{$p.end}>" >
					    </div>
					  </div>
					  <div class="form-group">
					    <label for="exponline" class="col-sm-2 control-label">期望上线:</label>
					    <div class="col-sm-4">
					      <input type="date" class="form-control" name="exponline" value="<{$p.end}>" >
					    </div>
					    <label for="end" class="col-sm-2 control-label">测试:</label>
					    <div class="col-sm-2">
					      <{$selectgpuer}>
					    </div>
					  </div>
					  <div class="form-group">					    
					    <label for="develop" class="col-sm-2 control-label">研发:</label>
					    <div class="col-sm-4">
					     	<input type="text" class="form-control" name="develop" value="" placeholder="研发负责人">
					    </div>
					    <label for="pm" class="col-sm-2 control-label">PM:</label>
					    <div class="col-sm-2">
					      <input type="text" class="form-control" name="pm" value="" placeholder="产品经理">
					    </div>
					  </div>
					  <div class="form-group">					    
					    <label for="develop" class="col-sm-2 control-label">需求:</label>
					    <div class="col-sm-4">
					     	<{$reType}>
					    </div>
					    <label for="pm" class="col-sm-2 control-label">级别:</label>
					    <div class="col-sm-2">
					      <{$reLevel}>
					    </div>
					  </div>
					  <div class="form-group" >
					  <label for="pm" class="col-sm-2 control-label">简介:</label>
					   <div class="col-sm-9">
					 	 <textarea name="profile" rows="10"  style="width:100%;text-align: left;" >
							简介
						</textarea>
					  </div>
					  </div>
					  					  					  					  
					  <button type="submit" class="btn btn-info btn-lg pull-left" style="margin-left:17%;">提 交</button>
                </form>
                  <div class="btn-group pull-left">
                      <a href="__URL__"><button  class="btn btn-warning btn-lg" style="margin-left:40%">返 回</button></a>
                  </div>
  		     	</div>	
            
  		</div>
 		 <div class="col-md-3 hidden-xs hidden-sm">
 		 	<div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">项目</h3>
            </div>            
            <ul class="list-group">
  			 <volist name='data' id='vo' empty="没有数据">
  			 <li class="list-group-item" >
            	<a href="__URL__/mod/id/<{$vo.id}>"><{$vo.prono}>【<{$vo.prost}>】.<{$vo.program}></a>
				</li>
        	</volist>
        	</ul>
        	</div>
                   
         	
  		</div>
	</div>           
</div><!-- container -->