<layout name="layout" />
  <ol class="breadcrumb">
    <span>所在位置：</span>         
    <li class="active">设置</li>    
  </ol>
<div class="panel panel-default">  
<h3> &nbsp;&nbsp;<{$arr.web}></h3>
     <div class="panel-body">
     	<div class="row">
		  <div class="col-md-4">
		  		 <form action="__URL__/update" method="post" enctype='multipart/form-data'  role="form">
		              <input type="hidden" name="id" value="<{$arr.id}>" />
		              		              
		              <div class="form-group input-group-lg">
		                  <label for="exampleInputusername">热线：</label>
		                  <input type="text" class="form-control" name="phone" value="<{$arr.phone}>" placeholder="姓名" > 
		              </div>
		              <div class="form-group input-group-lg">
		                  <label for="exampleInputrealname">QQ：</label>
		                  <input type="text" class="form-control" name="qq" value="<{$arr.qq}>" placeholder="QQ" > 
		              </div>                  
		              <div class="form-group input-group-lg">
		                  <label for="exampleInputrealname">地址：</label>
		                  <input type="text" class="form-control" name="adress" value="<{$arr.adress}>" placeholder="地址" > 
		              </div>  
		                    
		              <button type="submit" class="btn btn-info" >提 交</button>
		          </form>
		  </div>
		 
		  <div class="col-md-4">
		  		<form action="__URL__/imga" method="post" enctype='multipart/form-data'  role="form">
		              <input type="hidden" name="id" value="<{$arr.id}>" />  
		              <div class="form-group">				            
				             <label for="exampleupdatetime">形象图</label>
				      </div>                    		              
		              <div class="panel panel-default" style="width:300px;">
		                   <img alt="形象图" src="__UPLOAD__<{$arr.apath}>/thumb_<{$arr.aimg}>" width="100%">		                
		              </div> 
		              <div class="form-group">
		                  <label for="exampleInputFile"></label>
		                  <input type="file" name="aimg"> 
		              </div>                           
		              <button type="submit" class="btn btn-info" >上 传</button>
		        </form>
		  </div>
		</div>          
    </div>
</div>

  
            
                      
 






                     
                       
                                                                      
                      
                      
                                          
                      
                    
      