 <layout name="layout" />
        <div class="place">
                                 所在位置：
             <a href="__APP__/TAdmin/Program">项目</a>
             > <a href="__URL__/index/proid/<{$w.proid}>">场景</a>
             >编辑
            <span style="float:right;margin-right:60px;">
             <a href="__URL__/index/proid/<{$w.proid}>"> 返回</a>
            </span>
        </div>
        <div class="content">
           <div class="main">
              <div class="top" style="margin-left:30%;">场景编辑</div>
              <div class="left"align="left" style="width:30%">
                    <volist name='data' id='vo' empty="没有数据">
                       <a href="__URL__/mod/id/<{$vo.id}>/proid/<{$w.proid}>"><{$vo.sn}>.<{$vo.type}>-<{$vo.swho}>[<{$vo.swhen}>]<{$vo.scene}>:<{$vo.state}></a><br>
                    </volist>
              </div>
              <div class="midd" width="50%" align="right" >
                  <table border="0" width="500" align="left">
                  <form action="__URL__/update" method="post" >
                  <input type="hidden" name="id" value="<{$scene.id}>" />
                  <input type="hidden" name="proid" value="<{$w.proid}>"  />
                  <tr><td>更新：</td><td><{$scene.moder}>更新于:<{$scene.updateTime}></td></tr>
                     <tr><td> 顺序：</td>
                         <td><input type="text" name="sn" value="<{$scene.sn}>"  class="input60"/>
                                                                            级别:<input type="text" name="level" value="<{$scene.level}>"  class="input60"/>
                                                                            类型：<{$type}>
                         </td>
                     </tr>
                     <tr><td>角色:</td><td><input type="text" name="swho" value="<{$scene.swho}>"  class="input200"/>状态:<{$state}></td></tr>
                     <tr><td>时间:</td><td><input type="text" name="swhen" value="<{$scene.swhen}>"  class="input300"/></td></tr>
                     <tr><td>场景:</td><td><input type="text" name="scene" value="<{$scene.scene}>"  class="input300"/></td></tr>
                     <tr><td>流程:</td><td><input type="text" name="flow" value="<{$scene.flow}>"  class="input300"/></td></tr>
                     <tr><td>地址</td><td><input type="text" name="testip" value="<{$scene.testip}>"  class="input300"/></td></tr>
                     <tr><td></td>
                         <td><input type="submit" class="btn" name="do_submit" value="提 交"></form>
                             <a href="__URL__/add/proid/<{$w.proid}>"><button  class="btn" >添加</button> </a>
                             <a href="__URL__/index/proid/<{$w.proid}>"><button  class="btn" >返回</button></a>
                         </td>
                     </tr>
                  </table>
              </div><!-- midd -->
           </div><!-- main -->

