<layout name="layout" />
  <ol class="breadcrumb">
    <span>所在位置：</span>
        <li><a href="__APP__/Home/Index/index"><span class="glyphicon glyphicon-home"></span> 首页</a></li>
        <li class="active">师资力量</li>  
  </ol>
  <h1 >师资力量</h1>
        <div class="panel panel-default">
            <volist name='data' id='ar' empty="没有数据">
		          <div class="media">
						<a class="media-left" href="#">
						    <img src="__UPLOAD__<{$ar.path}><{$ar.img}>" alt="<{$ar.img}>" class="img-thumbnail" height="100px">
						</a>
						<div class="media-body">
						    <h4 class="media-heading"><{$ar.realname}>【<{$ar.course}>】<{$ar.coursetype}></h4>
						    <{$ar.remark}>
						</div>
					</div>
             </volist>
        </div>
                     
    





              