<layout name="layout" />
<div class="row"> 
  <div class="col-md-9">
  	<div class="panel panel-default">
	  <div class="panel-heading"><h3 class="panel-title"><{$arr.system}></h3></div>
	  <div class="panel-body table-responsive">
		<table class="table table-striped table-bordered table-hover table-condensed ">
	          <tr >
	          	<th width=5% align="center" bgcolor="#ccc">ID</th>
	            <th width=3% align="center" bgcolor="#ccc">顺序</th>
	            <th width=80% align="left"  bgcolor="#ccc">路径
	                <span class="pull-right">	                   
	                   <a data-toggle="modal" href="#tianjpath" class=" btn btn-info" >添加</a>
	                </span>
	            </th>  
	         </tr>
	         <form action="__URL__/order" method="post" >
	         <volist name='pathes' id='st' empty="没有数据">
	            <tr> 
	            	<td align="center" ><{$st.id}></td>
	                <td align="center" ><input type="text" name="sn[<{$st.id}>]" value="<{$st.sn}>"  class="input40"/></td>
	                <td >
	                    <a href="__APP__/TAdmin/Func/index/pathid/<{$st.id}>/sysid/<{$st.sysid}>" ><{$st.path}>【<{$st.pstate}>】</a>
	                    <span class="pull-right">
	                      <a target="_blank" href="__APP__/TAdmin/Func/index/pathid/<{$st.id}>" >功能点<{$st.id|countFunc=###}></a>
	                      <a href="__URL__/mod/id/<{$st.id}>/sysid/<{$st.sysid}>">修改</a>
	                      <a href="__URL__/del/id/<{$st.id}>" onclick="return confirm('你确定要删除路径：<{$st.path}>？')">删除</a>
	                    </span>
	                </td>                            
	            </tr>
	         </volist>
	            <tr><td  colspan="10"><input type="submit" name="do_submit" value="批量排序" class="btn"></td></tr>
	         </form>
	     </table>
	  </div>
  </div>
  
  
  </div>
  <div class="col-md-3 hidden-xs">
  	<div class="panel panel-default">
	  <div class="panel-heading">
	    <h3 class="panel-title">测试系统</h3>
	  </div>
	  <ul class="list-group">
	    <volist name='data' id='vo' empty="没有数据"> 			
           <switch name="vo.id">
				<case value="$arr.id"> <li class="list-group-item list-group-item-warning"></case>					   					    
				<default /><li class="list-group-item ">
		 </switch> 
            <a href="__URL__/index/sysid/<{$vo.id}>/prodid/<{$vo.prodid}>/proid/<{$proid}>">
            	<{$vo.system}></a><span class="badge"><{$vo.id|countPath=###}></span></li>
        </volist>
      </ul>	  
	</div>
  	 
  </div>
  
</div> 


<!-- 添加-模态框 -->
<div class="modal fade " id="tianjpath" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
    	<div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	        <h4 class="modal-title" id="myModalLabel">路径-添加</h4>
	    </div>
	    <div class="modal-body">
	      	<form action="__URL__/insert" method="post" class="form-horizontal" role="form" >
	      	<input type="hidden" name="sysid" value="<{$arr.id}>" />
				<div class="form-group">
					<label for="short" class="col-sm-2 control-label">顺序:</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" name="sn" value="<{$c}>" placeholder="顺序">
					</div>
				</div>
				<div class="form-group">
					<label for="product" class="col-sm-2 control-label">路径:</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" name="path" value=" " placeholder="路径">
					</div>
				</div>
				<div class="form-group">
					<label for="state" class="col-sm-2 control-label">状态:</label>
					<div class="col-sm-10"><{$pstate}></div>
				</div>											
		</div>
		<div class="modal-footer">
		     <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
		     <button type="submit" class="btn btn-primary">提交</button></form>
		</div>
    </div>       
  </div>