<layout name="layout" />
        <div class="place">
                                 所在位置：
                  <a href="__APP__/TAdmin/Product">产品</a>
                  ><a href="__APP__/TAdmin/System/index/prodid/<{$w.prodid}>">系统</a>
                  ><a href="__URL__/index/sysid/<{$w.sysid}>/prodid/<{$w.prodid}>">路径</a>
                  >编辑
                  <span style="float:right;margin-right:60px;">
                  <a href="__URL__/index/sysid/<{$w.sysid}>/prodid/<{$w.prodid}>"> 返回</a>
                  </span>
        </div>
        <div class="content">
           <div class="main">
              <div class="top">路径编辑
              <span style="margin-left:23%">系统：<{$w.sysid|getSystem=###}></span>
              </div>
              <div class="left" align="left" style="width:30%">
                    <volist name='data' id='vo' empty="没有数据"><ul><li>
                       <a href="__URL__/mod/id/<{$vo.id}>/sysid/<{$w.sysid}>/prodid/<{$w.prodid}>">
                       <{$vo.sn}>.<{$vo.path}>:<{$vo.pstate}></a>
                    </li></ul></volist>
              </div>
              <div class="midd" align="right" >
                  <table border="0" width="40%" align="left">
                   <form action="__URL__/update" method="post" >
                   <input type="hidden" name="sysid" value="<{$path.sysid}>" />
                   <input type="hidden" name="id" value="<{$path.id}>" />
                   <tr><td>更新：</td><td><{$path.moder}>更新于:<{$path.updateTime}></td></tr>
                     <tr><td>顺序：</td><td><input type="text" name="sn" value="<{$path.sn}>"  class="input300"/></td></tr>
                     <tr><td>路径:</td><td><input type="text" name="path" value="<{$path.path}>"  class="input300"/></td></tr>
                     <tr><td>状态:</td><td><{$pstate}></td></tr>
                     <tr><td></td>
                         <td><input type="submit" class="btn" name="do_submit" value="提 交"></form>
                             <a href="__URL__/add/sysid/<{$w.sysid}>/prodid/<{$w.prodid}>/proid/<{$proid}>" ><button  class="btn" >添加</button> </a>
                             <a href="__URL__/index/sysid/<{$w.sysid}>/prodid/<{$w.prodid}>"><button  class="btn" >返回</button></a>
                         </td>
                     </tr>
                  </table>
              </div><!-- midd -->
           </div><!-- main -->
